<!DOCTYPE html>
  <html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The High Fives BNB</title>
  </head>
  <body>

    <h1>The High Fives BNB</h1>
      <div id="quotes">
        The best BNB in London
        <br>
        <%= @message %>
      </div><br>
      <% @space.each do |space| %> <br>
      <div>
        <p> Spaces: <%= space.name%>
        <p> About: <%= space.description%>
        <p> Price: <%= space.price_per_night%>
        <form action="/spaces/info" method="get">
        <input type ="hidden" name ="space_id" value=<%=space.id%>>
        <input type="submit" value="More Details">
      </form>
        </div>  

      <%end%>
     
      
<form action='/new_space'> <input type='Submit' value='List New Space'> </form>


    </body>
</html>